.first-screen {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 670px;
  width: 1050px;
}

.sound__image {
  height: 30px;
  width: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.first-btn {
  height: 80px;
  width: 150px;
  border-radius: 17px;
  box-shadow: 2px 2px 20px #fff;
  outline: none;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  animation: bounce 0.7s infinite;
}

.first-btn:hover {
  transform: scale(1.1);
  transform: translateY(-3px);
}

.first-btn:active {
  transform: scale(1.05);
  transform: translateY(-1px);
}

.first-heading {
  font-size: 60px;
}

@keyframes button-animation {
  0% {
    transform: scale(0.4);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1400px) {
  .first-screen {
    width: 1100px;
  }
}

@media (max-width: 1100px) {
  .first-screen {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .first-screen {
    width: 500px;
  }
  .first-btn {
    height: 60px;
    width: 120px;
  }
  .first-heading {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .first-screen {
    width: 320px;
    height: 580px;
  }
  .first-heading {
    font-size: 40px;
  }
}

@media (max-width: 370px) {
  .first-screen {
    width: 280px;
    height: 500px;
  }

  .first-heading {
    font-size: 30px;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }

  75% {
    transform: scale(1, 1.1) translate(0px, -25px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
